<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Russell.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Russell Ford</h4>
                        <p class="card-text">Tier III Support Manager</p>
                        <a class="btn btn-primary" href="mailto:rford@ipipeline.com" >rford@ipipeline.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Kal.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Kal Zoghaibi</h4>
                        <p class="card-text">Tier III Support Analyst</p>
                        <a class="btn btn-primary" href="mailto:kzoghaibi@ipipeline.com" >kzoghaibi@ipipeline.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Jason.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Jason Banks</h4>
                        <p class="card-text">Tier III Support Analyst</p>
                        <a class="btn btn-primary" href="mailto:jbanks@ipipeline.com" >jbanks@ipipeline.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Marlo.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Marlo Gampon</h4>
                        <p class="card-text">Tier III Support Analyst</p>
                        <a class="btn btn-primary" href="mailto:mgampon@ipipeline.com" >mgampon@ipipeline.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Phil.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Phil Minsker</h4>
                        <p class="card-text">Tier III Support Co-Op</p>
                        <a class="btn btn-primary" href="mailto:pminsker@ipipeline.com" >pminsker@ipipeline.com</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4" style="padding: 5rem;">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="./app/assets/images/Wills.jpg" style="width: 20rem;">
                    <div class="card-block">
                        <h4 class="card-title">Wills Martin</h4>
                        <p class="card-text">Tier III Support Co-Op</p>
                        <a class="btn btn-primary">wmartin@ipipeline.com</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>